{% load static %} {% load l10n %}

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

    <link rel="shortcut icon" href="/static/img/logo.png">

    <title> {% block title %} Home {% endblock %} </title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

    <nav role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{% url 'list_locations' %}" class="brand-logo">
                <img height="50" src="/static/img/logo.png" alt="Logo">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'list_locations' %}">Início</a></li>
                <li><a href="{% url 'create_location' %}">Cadastrar Localização</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="{% url 'list_locations' %}">Início</a></li>
                <li><a href="{% url 'create_location' %}">Cadastrar Localização</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                <i style="color: white;" class="material-icons">storage</i>
            </a>
        </div>
    </nav>

    <div class="section center-align">
        <div class="col s12 m4">
            <img height="352" src="/static/img/location.png" alt="image-home">
        </div>

    </div>

    {% block main %} {% endblock %}

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>

</body>

</html>